name: Code Quality

on: [ pull_request ]

permissions:
  id-token: write
  contents: read

jobs:
  test:
    name: Linting and Testing
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Rust Cache
        uses: swatinem/rust-cache@v2

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-suffix: "my-app-cache"

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.13

      - name: Install dependencies
        run: |
          uv venv --python=3.13
          source .venv/bin/activate
          echo "$GITHUB_WORKSPACE/.venv/bin" >> $GITHUB_PATH
          make install-test

      - name: Lint
        run: make lint

      - name: Run Tests
        run: make test
