name: Code Quality

on: [ pull_request ]

permissions:
  id-token: write
  contents: read

jobs:
  test:
    name: Linting and Testing
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.13

      - name: Install dependencies
        run: |
          pip install uv
          uv venv --python=3.13 
          echo ".venv/bin" >> $GITHUB_PATH
          make install-test

      - name: Lint
        run: make lint

      - name: Run Tests
        run: make test
